*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif', sans-serif;
}

body{
    background-color: rgb(223, 219, 185);
}

.imagen-1{
    width: 100vw;
    height: 60vh;
}

h1{
    text-align: center;
    color: white;
    background-color: black;
    padding: 1%;
    width: 98vw;
}

.logo{
    width: 10vw;
    padding-left: 10%;
    padding-top: 1%;
}

.contenedorLogo{
    width: 12vw;
    height: 19vh;
    background-color: rgb(86, 206, 228);
    border-radius: 75%;
    position: absolute;
    top: 365px;
    left: 850px;
}

nav{
    position: absolute;
    top: 490px;
    left: 50px;

}

nav a{
    display: block;
    padding-top: 30%;
    padding-left: 3%;
    text-decoration: none;
    color: rgb(0, 110, 255);
}

a:hover{
    color: black;
}

.active{
    color: black;
}

.contenedorHome{
    position: absolute;
    left: 200px;
    top: 490px;
    height: 300px;
}

h4, pre{
    padding-top: 3%;
}

/*----About.html----*/

.contenedorAbout{
    position: absolute;
    left: 200px;
    top: 485px;
    height: 650px;
}

.contenedorAbout div{
    padding-top: 3%;
}

/*----Contact.html----*/
.contenedorContact{
    position: absolute;
    left: 200px;
    top: 500px;
    height: 300px;
}

u{
    color: blue;
}
